.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    line-height: 1;
    font-family: $font;
    color: $text-color;
    font-weight: 400;
    position: relative;
    
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}

.btn {
    display: inline;
    font-family: $font;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    &--primary {
        font-weight: 700;
        background-color: $primary-color;
        color: #fff;
        border-radius: 10px;
        padding: 17px 65px;
        box-shadow: 0px 30px 24px -18px rgb(245 56 56 / 35%);
        transition: all 0.2s linear;

        &:hover {
            transform: translateY(-10px);
        }
    }

    &--outline {
        background-color: transparent;
        color: $primary-color;
        font-weight: 500;
        border: 1px solid $primary-color;
        border-radius: 50px;
        padding: 13px 45px;
        position: relative;
        transition: all 0.3s linear;

        &--2px {
            border: 2px solid $primary-color !important;
        }
    }

    &--outline::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 50px;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.3s linear;
    }

    &--outline:hover {
        color: white;
        // box-shadow: 0px 30px 40px -20px rgba(245, 56, 56, 0.35);
        animation: rotate1 0.5s linear both;
    }

    &--outline:hover::before {
        transform: scaleX(1);
    }
}

@keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    30% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }

    80% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-weight: bold;
}

.heading {
    font-size: 35px;
    font-weight: 500;
    line-height: calc(50 / 35);
    margin-bottom: 20px;
}

.text {
    line-height: calc(30 / 16);
}

.boxed {
    max-width: 555px;
    margin: 0 auto 60px;
    text-align: center;
}

@media screen and (max-width: 767.98px) {
    .btn {
        padding: 13px 26px;
    }
    .heading {
        font-size: 30px;
    }
    .boxed {
        margin: 0 auto 30px;
    }
}
